{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/confirm_password.css') }}">

<script src="{{ url_for('static', filename='js/admin/confirm_password.js') }}"></script>

<div class="pt-0-resaber container-fluid p-5">

    <div class="pt-1-resaber container-fluid p-5">
        <h1>Altere sua Senha</h1>

        {% if warning and warning_class %}
        <div class="alert {{ warning_class }}" role="alert">
            {{ warning }}
        </div>
        {% endif %}

        <form action="/admin/confirmar_senha" method="POST">

            <input type="hidden" name="token" value="{{ token }}">
            
            <div class="mb-3 mt-3">        
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="mb-3 mt-3">        
                <label for="confirm_password">Confirme a Senha</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
            </div>

            <input class="btn btn-primary" id="submit_button" type="submit" value="Alterar" disabled>

        </form>

    </div>

    <div class="pt-2-resaber container-fluid">
        <span>Lembrou da senha</span>
        <a href="/admin">Clique aqui</a>
    </div>

</div>

{% endblock %}
