{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/reset_password.css') }}">

<div class="pt-0-resaber container-fluid p-5">

    <div class="pt-1-resaber container-fluid p-5">

        <h1>Redefina a Senha</h1>

        {% if warning and warning_class %}
        <div class="alert {{ warning_class }}" role="alert">
            {{ warning }}
        </div>
        {% endif %}

        {{ token }}

        {{ token2 }}

        <form action="/admin/recuperar_senha" method="POST">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required><br><br>

            <input class="btn btn-primary" type="submit" value="Redefinir Senha">
        </form>

    </div>

    <div class="pt-2-resaber container-fluid">
        <span>Lembrou da senha</span>
        <a href="/admin">Clique aqui</a>
    </div>

</div>

{% endblock %}
